<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <appSettings>
    <!-- アプリケーション名 -->
    <add key="Application_Name" value="RRP_Forum"/>
    <!-- 接続文字列(開発時) -->
    <add key="ConnectionString" value="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename='C:\Users\romer\OneDrive\Documents\Visual Studio 2022\Projects\WebSites(RAUL_ROMERO)\RRP_Forum\App_Data\Database.mdf';Integrated Security=True"/>
    <!-- 接続文字列(入社後公開時) -->
    <!--add key="ConnectionString" value="server=w2ochiai;database=C:\INETPUB\WWWROOT\LOGINBBS\WEBSITE1\APP_DATA\DATABASE.MDF;uid=sa;pwd=w2Sa" /-->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
</configuration>